@{ ViewData["Title"] = "CreateRole"; }
<form asp-action="CreateRole">
    <div class="form-group">
        <label>სახელი</label>
        <input name="name" class="form-control" />
        <button type="submit">როლის დამატება</button>
    </div>
</form>
