@model ProductionFormVM

@{
    ViewData["Title"] = "Add";
}

<h4>Add Production</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" enctype="multipart/form-data">
            <partial name="~/Views/Production/FormHelper.cshtml" model="Model" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ProductionList">Back to List</a>
</div>

