@model ProductionFormVM

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <input type="hidden" asp-for="Production.Id" />
            <input type="hidden" asp-for="Production.Image" />
            <partial name="~/Views/Production/FormHelper.cshtml" model="Model" />
            <img src="/@Model.Production.Image" width="70"/>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ProductionList">Back to List</a>
</div>

